*{
  font-family:微軟正黑體;  
}
.username, .password{
  width: 90%;
  height: 20px;
  margin: 10px;
  padding: 5px;
  border: none; 
  border-bottom:solid 1px #ccc;
}
.username_signup, .email, .password_signup, .comfirm_password, .birthday, .phone, .address{
  width: 45%;
  height: 20px;
  margin: 10px;
  padding: 5px;
  border: none; 
  border-bottom:solid 1px #ccc;
}
.address{
  width: 95%;
  height: 20px;
  margin: 10px;
}
.sign{
  margin: 20px;
  color: #a3a2a3;
}
.sign:hover{
  color: black;
}
.container1{
  padding: 10px;
  max-width: 300px;
  background-color: white;
  border-radius: 5px;
  border-top: 10px solid #f163b1;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  margin:50px auto 0 auto;
  text-align:center;  
}
.title{
  text-align: start;
  margin:10px 10px 30px 10px;
  width: 90%;
  height: 20px;
}
.system_name{
  margin:100px auto 0 auto;
  text-align:center; 
}
.submit{
  color: white;  
  background: #f163b1;
  width: 70%;
  height: 30px;
  margin:30px 10px 20px 10px;
  padding: 5px;
  border-radius: 20px;
  border: 0px;
}
.submit:hover{
  background: #f163b1c0;
}
.google_login, .fb_login{
  width: 70%;
  color: white;  
  background: #f5cf66;
  height: 30px;
  margin:0 10px 20px 10px;
  padding: 5px;
  border-radius: 20px;
  border: none;
}
.google_signup, .fb_signup{
  color: white;  
  background: #f5cf66;
  width: 30%;
  height: 30px;
  margin:10px 10px 10px 10px;
  padding: 5px;
  border-radius: 20px;
  border: none;
}
.google_login:hover, .fb_login:hover, .google_signup:hover, .fb_signup:hover{
  background: #f5ca55b4;
}
.container2{
  visibility: hidden;   /*剛開始消失*/
  max-width: 570px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  border-top: 10px solid #f163b1;
  box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
  margin:50px auto 0 auto;
  text-align:center;  
}
.genderWrap{
  text-align: left;
  padding-left:3%;
}
.genderLabel{
  display: inline-block;
}